.git/
.venv/
**/__pycache__/
**/*.py[cod]
**/.cache/

01_mock_data_generation/output/
01_mock_data_generation/scripts/out/

03_individual_level/*/data/
03_individual_level/*/logs/
03_individual_level/*/plots/
03_individual_level/gnomad_projection/working/
03_individual_level/gnomad_projection/reference/

04_population_level/*/logs/
04_population_level/*/plots/
04_population_level/fst_islands/data/merged/
04_population_level/fst_islands/data/fst/
04_population_level/fst_islands/data/pca/
